.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.column {
  @extend .row;
  flex-direction: column;
}

.halign {
  &--center {
    justify-content: center;
  }
  &--start {
    justify-content: flex-start;
  }
}
