/* Color Palette */
$gray: #283040;
$lightGray: #e6e6e6;
$white: #fff;

/* Fonts */
$fontColor: $gray;
$fontFamily: 'helvetica', 'sans-serif';
$fontSize: 62.5%; //for easy calculations / 1rem = 10px

/* Layout */
$headerHeight: 5.8rem;
