.chat {
  &__container {
    height: 100%;
    margin: 0;
    max-height: calc(100% - 7.5rem);
    overflow-y: auto;
    padding: 2em 0;
  }
  &__message {
    list-style: none;
    font-size: 1.2rem;
    padding: 0.5em 1em;
    &-header {
      font-weight: 700;
    }
    &-body {
      line-height: 1.5;
      margin-top: 0.5em;
      &:focus {
        outline: none;
      }
    }
    &-header {
      pointer-events: none;
    }
    &-info {
      &-timestamp {
        color: lighten($gray, 50%);
        font-weight: 400;
        margin-left: 0.5em;
      }
    }
    &-actions {
      cursor: pointer;
      display: none;
      font-weight: 400;
      font-size: 0.875em;
      pointer-events: all;
      text-decoration: underline;
    }
    &.actions {
      background: lighten($gray, 75%);
    }
    &.actions &-actions {
      display: flex;
    }
    &.edited &-info:after {
      content: '✏️';
      display: block;
      margin-left: 0.875em;
    }
  }
  &__control {
    height: 7.5rem;
    padding: 0 1em;
    &-user-activity {
      color: lighten($gray, 50%);
      font-size: 1.25rem;
      font-style: italic;
      height: 2.5rem;
      padding: 0.2em;
    }
    &-input {
      color: $gray;
      border: 1px solid $gray;
      border-radius: 3px;
      height: 4rem;
      font-size: 2em;
      margin: 0;
      padding: 0.25em 0.5em;
      width: 100%;
      &:focus {
        box-shadow: none;
        outline: none;
      }
      &::placeholder {
        color: rgba(0, 0, 0, 0.35);
      }
    }
  }
  .bot-message {
    color: lighten($fontColor, 50%);
    font-style: italic;
  }
}
