.user__list {
  font-size: 1.3rem;
  padding: 0;
  .user__item {
    border-bottom: 1px solid $lightGray;
    height: 4em;
    list-style: none;
    padding: 0 2em;
    &.active-user {
      &:after {
        content: '⭐️';
        display: block;
      }
    }
  }
}
