.tab {
  height: calc(100vh - #{$headerHeight});
  &__menu {
    background: $lightGray;
    width: 100%;
    &-item {
      box-shadow: inset 0px -2px 1px -1px rgba(0, 0, 0, 0.05);
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      cursor: pointer;
      font-size: 1.4rem;
      padding: 1.5em;
      text-align: center;
      width: 100%;
      &.active {
        box-shadow: 1px 0 1px rgba(0, 0, 0, 0.05),
          0 -1px 1px rgba(0, 0, 0, 0.05);
        background: $white;
      }
      &-count {
        pointer-events: none;
      }
    }
  }
  &__content {
    display: none;
    height: 100%;
    overflow-y: auto;
    max-height: 100%;
    width: 100%;
    &.visible {
      display: block;
    }
  }
}
